@font-face {
  font-family: "Mona Sans";
  src:
    url("/fonts/MonaSans.woff2") format("woff2");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: "Mona Sans", Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: auto;
  margin: 0;
  background-color: hsl(274, 15%, 80%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body>aside {
  width: 100%;
  position: sticky;
  top: 0.5rem;
  text-align: right;
  z-index: 5;
}

body>aside>button {
  right: 5%;
  position: relative;
  display: block;
  background-color: hsl(274, 54%, 18%);
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

@page {
  size: a4 portrait;
  margin: 0;
}

html {
  box-sizing: border-box;
}

footer {
  background-color: hsl(274, 54%, 18%);
  color: white;
  position: relative;
  padding: 1.5rem 0;
  margin-top: 1rem;
  bottom: 0;
  width: 100%;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media print {

  body>* {
    display: none;
  }

  html,
  body {
    background-color: white !important;
    print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    /* height: auto; */
    overflow: hidden !important;
  }

  main {
    margin: 0 !important;
  }
}